.git
__pycache__
venv/
.vscode/
.idea
.DS_Store
images
exp0_rad
exp1_rad
exp2_rad
exp3
sent_to_db_radius.svg
sent_to_db_std_dev.svg
sent_to_db_gateways.svg
*.db
*.csv
*.log
*.json
*.svg
# simulator1.py
#prova.py
src/plotter.py
# main_database3.py
src/graph/*
graph