.git
__pycache__
./src/.cache/
venv/
.vscode/
.idea
.DS_Store
images
./src/simulation.gif
*.db
*.csv
*.log
*.json
*.svg
./src/figures.py
./src/figures2.py
# simulator1.py
#prova.py
src/plotter.py
# main_database3.py
src/graph/*
graph
src/prova.py