.git
__pycache__
.cache/
venv/
.vscode/
.idea
.DS_Store
images/
simulation.gif
*.db
*.csv
*.log
*.json
linestring.py
*.svg
figures.py
figures2.py
simulator1.py
prova.py
plotter.py
main_database3.py
graph/